<div class="container">
	<h2>{{listTitle}}</h2>
    <div class="row">
        <div class="col-md-10">
            <table class="table table-bordered table-hover">
            	<thead>
            		<tr>
            			<th class="col-md-1">#</th>
            			<th class="col-md-3">Pavardė, vardas</th>
            			<th class="col-md-2">Asmens kodas</th>
            			<th class="col-md-2">Pažymėjimo būsena</th>
                        <th class="col-md-1">Pakeisti būseną</th>
                        <th class="col-md-1">Pašalinti</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr ng-repeat="studentID in studentIDsList | filter:{status:studentIDsStatus}:true | orderBy:'Student.name'">
            			<td>{{$index + 1}}</td>
            			<td>{{studentID.Student.name}}</td>
            			<td>{{studentID.Student.personalCode}}</td>
            			<td>{{studentID.status}}</td>
                        <td align="center">
                            <a ng-click="changeStudentIDStatus(studentID.cardNumber)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td align="center">
                            <a ng-click="deleteStudentID(studentID.cardNumber)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
            		</tr>
            	</tbody>
            </table>
        </div>
       	<div class=" col-md-2">
            <a href="#new" class="btn btn-primary">Užsakyti naują studento pažymėjimą</a>
       		<hr />
            <div class="btn-group-vertical">
                <button class="btn btn-default" ng-click="getStudentIDs('Aktyvi')">Aktyvūs studentų pažymėjimai</button>
                <button class="btn btn-default" ng-model="inactive" ng-click="getStudentIDs('Neaktyvi')">Neaktyvūs studentų pažymėjimai</button>
            </div>
        </div>
    </div>
</div>