<div class="container">
  <form ng-submit="createNewStudentID()">
    <div class="form-group">
    	<input type="text" class="form-control" placeholder="Vardas..." ng-model="student.name" required />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Pavardė..." ng-model="student.surname" required />
    </div>
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Asmens kodas..." ng-model="student.personalCode" required />
    </div>
    <input type="submit" class="btn btn-primary" value="Išsaugoti" />
    <a class="btn btn-default" ng-click="cancel()">Atšaukti</a>
  </form>
</div>